.resume-maker-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100% 100px;
    grid-template-areas: 
      "left right"
      "options ."
}

.resume-screen {
  grid-area: right;
  padding: 10px;
}

.resume-edit {
  grid-area: left;
  padding: 10px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 100px;
  grid-template-areas: 
    "edit-body"
    "edit button";
}

.button-area {
  grid-area: options
}